@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/public/fonts/Inter-Thin.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/public/fonts/Inter-ExtraLight.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/public/fonts/Inter-Light.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/public/fonts/Inter-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/public/fonts/Inter-Medium.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/public/fonts/Inter-SemiBold.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/public/fonts/Inter-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/public/fonts/Inter-ExtraBold.ttf) format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/public/fonts/Inter-Black.ttf) format("ttf");
  }
}
